*{
  box-sizing: border-box;
}
.messages {
  float: left;
  width: calc(100vw - 300px);
  .header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
    .left-header {
      float: left;
      margin-top: 35px;
      &__title {
        color: #333;
        font-size: 20px;
        margin-bottom: 15px;
      }
      &__members {
        display: flex;
        color: $light_gray;
        font-size: 12px;
        .member {
          margin-left: 0.3rem;
        }
      }
    }
    .right-header {
      border: 1px solid $light_blue;
      color: $light_blue;
      float: right;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      &__button {
        a{
          color: $light_blue;
          text-decoration: none;
        }
      }
    }
  }

  .message_main {
    box-sizing: border-box;
    padding: 46px 40px 0;
    height: calc(100vh - 190px);
    background-color: #FAFAFA;
    overflow: scroll;
    .message {
      padding-bottom: 40px;
      .upper-message {
        display: flex;
        &__user-name {
          color: $black;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: $light_gray;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: $black;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
    }
  }

  .form {
    background-color: #DDDDDD;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      padding: 0 40px 0 10px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      width: 100px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}